.main {
    background-image: url(image.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main_inner {
    margin-top: 100px;
    width: 80%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.main_inner > a {
    color: #39bdbd;
    font-weight: 600;
}



.main_text {
    background: #fdf5e68f;
    height: 50vh;
    margin-top: 150;
    position: absolute;
    border-radius: 20px;
}

.main_text >h3{
    margin: 5 10;
    color: #266565;
}

.main_text >p{
    margin: 0 10;
    color: #266565;
}

.main_text >a{
    margin: 5 10 0 10;
    color: #266565;
}

.main_text >input{
    margin: 0 10;
    width: 80%;
}

.main_text >button{
    margin: 10 10;
    width: 80%;
    background: palegreen;
    color: #266565;
}

.call {
    position: fixed;
    width: 100%;
    text-align: right;
    margin-top: 550;
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}



.call >a {
    width: 100;
}


.call > a > img {
    width: 50;
}